
<body class="homeBody">
  <div class="center jumbotron jumboMain">
  <h1 class="text-center">My Shopping List</h1>
</div>

<div class="container text-center">
  <p>
    <%= link_to "Add an item to the list", new_shopping_path, class: "btn btn-primary btn-lg" %>
  </p>
  <br />
  <p>
     <%= link_to "View Shopping List", shoppings_path, class: "btn btn-warning btn-lg" %>
  </p>
</div>

<div class="footerhomepg">
     <%= render "layouts/footer" %>
</div>
</body>
  