@import "bootstrap-sprockets";
@import "bootstrap";

/* Home Page */
h1, h2, p, th, td {
  font-family: 'Open Sans', sans-serif;
}
.jumboMain {
  border: 10px solid white;
  margin-top: 100px;
  color: white;
  background-color: #101010;
}

.homeBody {
  background-color: #101010;
}

.foot {
  color: #fff;
}

/* Index Page */
.bdr {
  border: 6px solid white;
  border-radius: 10px;
}

.itemsFont {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
}

.jumboIndex {
  margin-top: 50px;
}

.shoplist {
  border: 2px solid black;
  background-color: #fff;
}

/* Show Page */

.boldText {
  font-weight: bold;
  font-size: 20px;
  
}

/* Error Partial Page */

.errorMessage {
  list-style-type: none;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding-left: 20px;
  border-radius: 20px;
}

/* Flash Partial Page */

.happyMessage {
  list-style-type: none;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding-left: 20px;
  border-radius: 20px;
}


/* Form section */
.bdr-frm {
  border: 1px solid grey;
}

/* All Pages (Except Home Page) */

.jumboChild {
  margin-top: 100px;
}

/* Footer Section */

.footerhomepg{
  color: #d3d3d3;
  margin-top: 300px;
}

.footer{
  font-size: 9px;
  font-weight: bold;
  color: #D3D3D3;
}