<div class="center well jumboChild shoplist">
  <h2 class="text-center">Edit your Item</h2>
</div>


<%= render "shoppings/error" %>

<%= render "shoppings/form" %>

<div>
     <%= render "layouts/footer" %>
</div>
