<h2>Show Item</h2>

<%= render "shoppings/flash" %>
<p>
  Item: <%= @shop.item %>
</p>

<%= link_to "Edit this item", edit_shopping_path(@shop) %> |
<%= link_to "Back To Shopping list", shoppings_path %>
