    <div class="container">
      <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
           	 	  <span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>                        
          	</button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Add an Item", new_shopping_path %></li>
            <li><%= link_to "Shopping List", shoppings_path %></li>
          </ul>
          </div>
        </nav>
      </div>
    </header>
    </div>